[package]
name = "querybinder"
version = "0.0.0"
authors = ["Ruud van Asseldonk <dev@veniogames.com>"]
edition = "2018"
license = "Apache-2.0"

[dependencies]
clap = { version = "3.2.5", features = ["derive"] }
unicode-width = "0.1.9"
termcolor = "1.1.3"
